// .alert-enter {
//     opacity: 0;
//     transform: scale(0.9);
// }
// .alert-enter-active {
//     opacity: 1;
//     transform: translateX(0);
//     transition: opacity 300ms, transform 300ms;
// }
// .alert-exit {
//     opacity: 1;
// }
// .alert-exit-active {
//     opacity: 0;
//     transform: scale(0.9);
//     transition: opacity 300ms, transform 300ms;
// }

.item-enter {
    opacity: 0;
}
.item-enter-active {
    opacity: 1;
    transition: opacity 0.8s ease-in-out;
}
.item-exit {
    opacity: 1;
}
.item-exit-active {
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    // transition: opacity 500ms ease-in;
}

.form-enter {
    opacity: 0;
}
.form-enter-active {
    opacity: 1;
    transition: opacity 0.4s ease-in;
}
.form-exit {
    opacity: 1;
}
.form-exit-active {
    opacity: 1;
    transition: opacity 0.8s ease-in-out;
    // transition: opacity 500ms ease-in;
}
